.create-label{
	font-size: 15px;
	margin-top: 8px;
}

.error-view{
	display: block;
	text-align: center;
	font-style: italic;
}

.box {
        position: relative;
        float: left;
        width: 300px;
        height: 300px;
}
 
.caption {
        display: none;
        position: absolute;
        background: #000;
        opacity: 0.7;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        padding: 5%;
        color: #fff;
}

.form-create{
	background: white;
	padding: 45px 50px;
	width: 85%;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	margin: auto;
}

.bs-docs-footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 70px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	background: #ECFDE6;
	height: 100px;
	width:100%;
}

#logout{
	font-family: Arial;
	margin-left: 7px;
}

.glyphicon-log-out:before{
	font-size: 13px;
	position: relative;
	top: 1px;
}

#copyright-section{
	font-size: 13px;
}

a{
	color: #63962A;
}

a:hover, a:focus{
	color: #89BA53;
	text-decoration: none;
}

.div-form{
	float: left;
	width: 100%;
	padding: 20px;
	background: rgb(240, 240, 240);
}

.buttoninv{

    background: transparent;
    border: none !important;​

}

.table-responsive{
	float: left;
	width: 100%;
	margin-top: 15px;
}

.error-message{
	color: red;
	font-size: 12px;
	font-style: italic;
}

.error-div{
	float: left;
	width: 100%;
}

.pagination>li>a, .pagination>li>span{
	color: #929292;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
	background-color: #636363;
	border-color: #CECECE;
}

.center-pagination{
	text-align: center;
}

.fc-div form{
	padding: 0px 15px;
}

.clear{
	clear: both;
}

.options{
	margin-top: 20px;
}

.pr-details-table{
	margin: 15px;
}

.pr-label{
	font-weight: bold;
	padding: 2px 10px;
}

.img-thumbnail{
	margin: 10px;
}

#img-section{
	border-top: solid 1px rgb(235, 235, 235);
	margin-top: 40px;
	padding-top: 20px;
}

#img-per{
	position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}
.button {
    position:absolute;
    bottom:10px;
    right:10px;
    width:100px;
    height:30px;
}

.panel-body{
	padding: 0;
}

.workflow-table{
	width: 100%;
	border: rgb(218, 218, 218);
}

.workflow-table td{
	padding: 8px 15px;
}

th.workflow-th{
	text-align: center;
	padding: 8px;
}

.no-border{
	border-right: none;
	border-left: none;
	text-align: center;
}


table.table td{
	word-break: break-all;
}

/**for dashboard layout**/
.side-nav ul.dropdown-menu li a:hover, .side-nav .dropdown-menu li a:focus{
	/*background: #131313 !important;*/
	background: rgb(44, 44, 44) !important;
	color: rgb(114, 187, 114) !important;
}

.navbar-fixed-top{
	border: none;
}

.side-nav{
	box-shadow: inset 0 1px 10px rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav>.active>a{
	background: #0C0C0C;
}

.side-nav ul.dropdown-menu li.active a, .side-nav ul.dropdown-menu li.active a:hover{
	background-image: -webkit-linear-gradient(top,#193B19 0,#1E461E 100%) !important;
	background-image: linear-gradient(to bottom,#193B19 0,#1E461E 100%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
	/*-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.25);*/
	color: rgb(219, 212, 212) !important;
}

#page-wrapper{
	padding: 10px 35px !important;
}

.page-header{
	margin: 20px 0 20px
}

.create-office{
	padding-right: 0;
}

.side-nav>li.dropdown>ul.dropdown-menu>li>a{
	font-size: 13px;
}

.side-nav>li.dropdown>ul.dropdown-menu{
	background-color: rgb(44, 44, 44) !important;
}

.navbar-brand{
	padding: 10px;
}

.menu-divider{
	width: 100%;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.caret{
	margin-top: 8px;
}

.navbar-inverse .navbar-nav>li>a.active{
	background: #131313;
}

.navbar-inverse .navbar-nav>li>a:active{
	border: none !important;
}
.badge{
	background: rgba(103, 146, 93, 0.5);
}

/*Image Module Component*/
.image-container {
    display: inline-block;
    position: relative;
}

.star-button {
    background: transparent;
	border: none;
	position: absolute;
	top: 0px;
	right: 0px;
}

.star-button img{
	width: 20px;
}

/*End Image Module Component*/

.dropdown-menu .divider{
	margin: 0;
}

.dropdown-menu>li>a{
	padding: 9px 20px;
}

.side-submenu{
	list-style: none;
	padding: 0px 15px;
	box-shadow: inset 0 1px 10px rgba(0,0,0,.25);
	background: rgb(27, 27, 27);
	padding-bottom: 5px;
}

.side-submenu li{
	padding: 10px 0px;
}

.side-submenu li a{
	color: rgb(153, 153, 153);
	font-size: 13px;
}

.side-submenu li a:hover{
	color: #519432;
}

.side-submenu li.active a{
	color: #94C35E;
}

.list-group-item-heading{
	font-size: 18px;
}

.tasks{
	float: left;
	width: 100%;
}

.accept-button{
	margin: 8px 15px;
	float: right;
}

.task-desc{
	width: 80%;
}

.overdue-task{
	color: red;
}

.task-body{
	margin: 10px 30px;
}

.remarks-btn{
	margin-top: 10px; 
	margin-bottom: 20px;
}

.proc-details{
	width: 100%;
}

.proc-details td{
	border: solid 1px rgb(204, 204, 204);
}

.proc-headers{
	padding: 5px 20px;
}

.proc-data{
	padding: 12px 20px;
}

.unlink{
	pointer-events: none;
    cursor: default;
}

.bac-ctrl-no{
	font-size: 10px;
}

.ctrl-no{
	margin-top: -3px;
}

.edit-pr-input td{
	padding: 8px 7px !important;
}

.current-task{
	background: rgb(248, 255, 200);
}

@media all and (max-width: 1065px){
	.accept-button{
		margin: 8px 25px;
		float: left;
	}
	.task-desc{
		width: 90%;
	}
	.ctrl-no{
		margin: 0;
	}
}

@media all and (max-width: 1065px){
	.create-btn{
		margin-top: 10px;
	}
}