body {
  background-color: #F5FEF2;
  padding-bottom: 0px;
}

.form-signin {
  max-width: 380px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px 37px 50px;
  font-weight: 400;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
